@model api.Models.cartao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cartao</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagarme_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagarme_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bandeira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bandeira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compra.pagarme_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compra.pagarme_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pessoa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pessoa.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
