@model api.Models.pagamento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        <a href="@Url.Action("Index")" class="btn btn-warning"><i class="glyphicon glyphicon-chevron-left" style="margin-right: 10px"></i>Voltar</a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("index")" base_library="api.Models.pagamento.library_bc_1">Listar</a></li>
        <li class="active" base_library="api.Models.pagamento.library_bc_edit">Editar</li>
    </ol>
</section>



<section class="content">
    <div class="col-md-12">
        <div class="alert alert-info col-md-12" role="alert">
            <i class="glyphicon glyphicon-pencil" style="margin-right: 10px"></i><b base_library="api.Models.pagamento.library_code">Editando Código:</b> <span class="editid">@Model.id</span>
        </div>
    </div>
    <div style="clear: both"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)
        <div class="alert alert-danger" role="alert" base_library="api.Models.pagamento.library_error_register">
            Registro não gravado, verificar erro criticado
        </div>


        <fieldset>
		
            <div class="col-md-12 bar">
                <label class="col-md-6" base_library="api.Models.pagamento.library_title"><i class="glyphicon glyphicon-list-alt" style="margin-right: 10px"></i>Dados pessoais</label>
            </div>
        @Html.HiddenFor(model => model.id)


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.nome" >nome</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.nome, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.nome)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.taxa" >taxa</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.taxa, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.taxa)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.grupo_do_pagamento_id" >grupo_do_pagamento_id</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.grupo_do_pagamento_id, new { placeholder = "", @class = "form-control", maxLength = "150", type="number", min="1" })
				                @Html.ValidationMessageFor(model => model.grupo_do_pagamento_id)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.bandeira_id" >bandeira_id</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.bandeira_id, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.bandeira_id)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.place_id" >place_id</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.place_id, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.place_id)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.transacao" >transacao</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.transacao, new { placeholder = "", @class = "form-control", maxLength = "150", type="number", min="1" })
				                @Html.ValidationMessageFor(model => model.transacao)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.external_id" >external_id</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.external_id, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.external_id)
            </div>

         
  


            
       
<div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.pagamento.icone" >icone</label>
				
				<div style="clear: both"></div>
				                    <div class="info-box bg-aqua">
                        <span class="info-box-icon" style="background-image:@(Model == null || string.IsNullOrEmpty(Model.icone_itype) ? "" : "url(" + Model.icone_itype + "," + Convert.ToBase64String(Model.icone) + ")")">
                        @{
                            if (Model == null || string.IsNullOrEmpty(Model.icone_itype))
                            {
                                <i class="fa fa-image"></i>
                            }
                        }
                        </span>
                        <div class="info-box-content">
                            <span>
                                <label class="control-label" base_library="api.Models.pagamento.icone" >icone</label><br />
                                Upload de imagem <i class="fa fa-cloud-upload"></i>
                            </span>
                            <input type="file" source="#icone" class="upload" />
                            <input type="hidden" id="icone" name="icone" value="@Convert.ToBase64String(Model.icone)" class="upload" />
                            <input type="hidden" id="icone_itype" name="icone_itype" value="@Model.icone_itype" class="upload" />
                            
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                
				                @Html.ValidationMessageFor(model => model.icone)
            </div>

         
  


            
       
         
  

        
		
            <div class="form-group col-md-12 btn-gallery">
                <a base_library="api.Models.pagamento.library_delete" onclick="delete_item('@(Url.Action("Delete"))?id=@(Model.id)')" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Excluir</a>
                <a base_library="api.Models.pagamento.library_edit" onclick="$(this).closest('form').submit()" class="btn btn-success pull-right"><i class="glyphicon glyphicon-pencil"></i>Editar</a>
            </div>

    </fieldset>
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
