@model api.Models.localizacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>localizacao</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_itype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo_itype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
