
@model Site.Models.Find<api.Controllers.localizacaosController.find>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        <a href="@Url.Action("Create")" class="btn btn-info" base_library="api.Models.localizacao.library_create"><i class="glyphicon glyphicon-plus" style="margin-right:10px"></i>Criar Novo</a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#" base_library="api.Models.localizacao.library_bc_1"><i class="fa fa-newspaper-o"></i>Listar</a></li>
        <li class="active"><a href="@Url.Action("index")" base_library="api.Models.localizacao.library_bc_list">Index</a></li>
    </ol>
</section>

<section class="content">





     <form ajax="@Url.Action("Find")" table="tbl">
        <input type="hidden" id="Page" name="Page" value="0" />

		<div class="box box-default">
			<div class="box-header with-border">


                <div class="form-group col-md-6">
					<label class="control-label" style="width:100%" base_library="api.Models.localizacao.item_id" >item_id</label>
					<select class="form-control select2" source="#Filter_item_id" data-placeholder="" onchange = "$('.tblrow').remove(); $('#Page').val('0'); $(this).closest('form').submit()" style="width: 100%;">
						<option value="null">Todos</option>
						@foreach (var item in new api.Models.db().item.Select(c => new { id = c.id, nome = c.nome }))
						{
							<option value="@item.id">@(item.nome)</option>
						}
					</select>
					@Html.HiddenFor(model => model.Filter.item_id)
					@Html.ValidationMessageFor(model => model.Filter.item_id)
				

   </div>



                <div class="form-group col-md-6">
					<label class="control-label" style="width:100%" base_library="api.Models.localizacao.lat" >lat</label>
            
									@Html.TextBoxFor(model => model.Filter.lat, new { placeholder = "", @class = "form-control", maxLength = "150", onblur = "$('.tblrow').remove(); $('#Page').val('0'); $(this).closest('form').submit()" })
				            
   </div>



                <div class="form-group col-md-6">
					<label class="control-label" style="width:100%" base_library="api.Models.localizacao.lng" >lng</label>
            
									@Html.TextBoxFor(model => model.Filter.lng, new { placeholder = "", @class = "form-control", maxLength = "150", onblur = "$('.tblrow').remove(); $('#Page').val('0'); $(this).closest('form').submit()" })
				            
   </div>



                <div class="form-group col-md-6">
					<label class="control-label" style="width:100%" base_library="api.Models.localizacao.cadastro" >cadastro</label>
            
									@Html.TextBoxFor(model => model.Filter.cadastro, "{0:dd/MM/yyyy}", new { placeholder = "", @class = "form-control", mask = "{\"value\":\"99/99/9999\", \"placeholder\":\"dd/mm/yyyy\"}", maxLength = "10", onblur = "$('.tblrow').remove(); $('#Page').val('0'); $(this).closest('form').submit()" })
				            
   </div>



                <div class="form-group col-md-6">
					<label class="control-label" style="width:100%" base_library="api.Models.localizacao.descricao" >descricao</label>
            
									@Html.TextBoxFor(model => model.Filter.descricao, new { placeholder = "", @class = "form-control", maxLength = "150", onblur = "$('.tblrow').remove(); $('#Page').val('0'); $(this).closest('form').submit()" })
				            
   </div>



                <div class="form-group col-md-6">
					<label class="control-label" style="width:100%" base_library="api.Models.localizacao.ativo" >ativo</label>
            
									<div style="height: 34px; line-height: 30px;">
						<label style="min-width: 45px;">
							<input type="checkbox" value="true" name="item_ativo" class="minimal-green">
							Sim

						</label>
						<label style="min-width: 45px;">
							<input type="checkbox" value="false" name="item_ativo" class="minimal">
							Não

						</label>
						@Html.HiddenFor(model => model.Filter.ativo, new { icheck = "item_ativo" })
					</div>
                            
   </div>

		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse">Pesquisa Avançada<i style="margin-left: 10px" class="fa fa-plus-square fa-minus"></i></button>
		</div>
	</div>
	<div class="box-body" style="display:none">
	</div>
	<div class="form-group" style="border-top: 1px solid #f4f4f4; padding: 10px">
		<button href="#" class="btn btn-warning pull-right" type="button" name="btnProcurar" onclick="$('.tblrow').remove(); $('#Page').val('0'); $('[ajax]').submit();"><i class="glyphicon glyphicon-search" style="margin-right: 10px"></i>Procurar</button>
		<div style="clear: both"></div>
	</div>
</div>
    <div class="table-default scroll">
        <div class="filter-table" base_library="api.Models.localizacao.library_filter"><i class="glyphicon glyphicon-filter"></i>filtros</div>
		
            <div class="filter-table" base_library="api.Models.sample.library_report" onclick="fnExcelReport()" style="margin-left:83px; width:110px">
                <i class="fa fa-file-excel-o"></i>Relatório
            </div>
<table  id="tbl"> 
    <tr>
        <td base_library="api.Models.localizacao.item_id">
            @Html.DisplayNameFor(model => model.Filter.item_id)
        </td>
        <td base_library="api.Models.localizacao.lat">
            @Html.DisplayNameFor(model => model.Filter.lat)
        </td>
        <td base_library="api.Models.localizacao.lng">
            @Html.DisplayNameFor(model => model.Filter.lng)
        </td>
        <td base_library="api.Models.localizacao.cadastro">
            @Html.DisplayNameFor(model => model.Filter.cadastro)
        </td>
        <td base_library="api.Models.localizacao.descricao">
            @Html.DisplayNameFor(model => model.Filter.descricao)
        </td>
        <td base_library="api.Models.localizacao.ativo">
            @Html.DisplayNameFor(model => model.Filter.ativo)
        </td>
    </tr>
</table>
</div>
</form>
</section>

		<script template="tbl" type="text/template" redirect="@Url.Action("edit")"> 

    <tr class="tblrow" pk="id">
        <td column="item_id">
        </td>
        <td column="lat">
        </td>
        <td column="lng">
        </td>
        <td column="cadastro">
        </td>
        <td column="descricao">
        </td>
        <td column="ativo">
        </td>
       
    </tr>


</script>
