@model api.Models.acesso

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        <a href="@Url.Action("Index")" class="btn btn-info"><i class="glyphicon glyphicon-chevron-left" style="margin-right: 10px"></i>Voltar</a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("index")" base_library="api.Models.acesso.library_bc_1">Listar</a></li>
        <li class="active" base_library="api.Models.acesso.library_bc_create">Criar</li>
    </ol>
</section>


<section class="content">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	      @Html.ValidationSummary(true)
        <div class="alert alert-danger" role="alert" base_library="api.Models.acesso.library_error_register">
            Registro não gravado, verificar erro criticado
        </div>

        <fieldset>

            <div class="col-md-12 bar">
                <label class="col-md-6" base_library="api.Models.acesso.library_title"><i class="glyphicon glyphicon-list-alt" style="margin-right: 10px"></i>Dados pessoais</label>
            </div>
    
    <div>

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.create" >create</label>
				
				<div style="clear: both"></div>
									<div class="col-md-12 row" style="line-height: 29px">
						<label>
							<input type="radio" value="true" name="item_create" class="minimal-green">
							Sim

						</label>
						<label>
							<input type="radio" value="false" name="item_create" class="minimal">
							Não

						</label>
					</div>
					<div style="clear: both"></div>
					@Html.HiddenFor(model => model.create, new { icheck = "item_create" })
                                @Html.ValidationMessageFor(model => model.create)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.edit" >edit</label>
				
				<div style="clear: both"></div>
									<div class="col-md-12 row" style="line-height: 29px">
						<label>
							<input type="radio" value="true" name="item_edit" class="minimal-green">
							Sim

						</label>
						<label>
							<input type="radio" value="false" name="item_edit" class="minimal">
							Não

						</label>
					</div>
					<div style="clear: both"></div>
					@Html.HiddenFor(model => model.edit, new { icheck = "item_edit" })
                                @Html.ValidationMessageFor(model => model.edit)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.delete" >delete</label>
				
				<div style="clear: both"></div>
									<div class="col-md-12 row" style="line-height: 29px">
						<label>
							<input type="radio" value="true" name="item_delete" class="minimal-green">
							Sim

						</label>
						<label>
							<input type="radio" value="false" name="item_delete" class="minimal">
							Não

						</label>
					</div>
					<div style="clear: both"></div>
					@Html.HiddenFor(model => model.delete, new { icheck = "item_delete" })
                                @Html.ValidationMessageFor(model => model.delete)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.list" >list</label>
				
				<div style="clear: both"></div>
									<div class="col-md-12 row" style="line-height: 29px">
						<label>
							<input type="radio" value="true" name="item_list" class="minimal-green">
							Sim

						</label>
						<label>
							<input type="radio" value="false" name="item_list" class="minimal">
							Não

						</label>
					</div>
					<div style="clear: both"></div>
					@Html.HiddenFor(model => model.list, new { icheck = "item_list" })
                                @Html.ValidationMessageFor(model => model.list)
            </div>
   


				<div class="form-group col-md-6">
					<label class="control-label" base_library="api.Models.acesso.perfil_id" >perfil_id</label>
					<select class="form-control select2" source="#perfil_id" data-placeholder="" style="width: 100%;">
                        <option value="null">Selecione um item</option>
						@foreach (var item in new api.Models.db().perfil)
						{
							<option value="@item.id">@(item.name)</option>
						}
					</select>
					@Html.HiddenFor(model => model.perfil_id)
					@Html.ValidationMessageFor(model => model.perfil_id)
				</div>

   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.url" >url</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.url, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.url)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.name" >name</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.name, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.name)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.icon" >icon</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.icon, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.icon)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.group" >group</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.group, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.group)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.order" >order</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.order, new { placeholder = "", @class = "form-control", maxLength = "150", type="number", min="1" })
				                @Html.ValidationMessageFor(model => model.order)
            </div>
   

            
            <div class="form-group col-md-6">
									<label class="control-label" base_library="api.Models.acesso.place_id" >place_id</label>
				
				<div style="clear: both"></div>
									@Html.TextBoxFor(model => model.place_id, new { placeholder = "", @class = "form-control", maxLength = "150" })
				                @Html.ValidationMessageFor(model => model.place_id)
            </div>
   

        
            <div class="form-group col-md-12 btn-gallery">
                <a class="btn btn-success pull-right" onclick="$(this).closest('form').submit()" base_library="api.Models.acesso.library_save"><i class="glyphicon glyphicon-ok"></i>Salvar</a>
            </div>
    </div>
	</fieldset>
}

</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
