@model api.Models.acesso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>acesso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.create)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.list)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.list)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.perfil.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perfil.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
